@use "../abstracts" as *;
@use "../components/" as *;

.home-top {
  position: relative;
  .navbar{
    background-color: transparent;
    .navbar-brand-logo{
      width: 140px;
      height: 36px;
    }
    .offcanvas-body {
      .navbar-icon {
        width: 15px;
        width: 15px;
      }
    }
  }
  .nav-link {
    color: map-get($text-color,primary);
    font-size: map-get($font-size,small);
    &:hover {
      color: $primary-color;
    }
  }
  .alignment {
    height: 750px;
  }
  .toggle-btn {
    button:first-child {
      background-color: white;
      border: 0;
      padding: 10px 15px;
      box-shadow: 0px 0px 10px 5px rgba($color: #000000, $alpha: 0.05);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    button:last-child {
      background-color: transparent;
      border: 0;
      padding: 10px 15px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }
  .home-banner-search {
    @include flex($justify:space-between);
    row-gap: 15px;
    padding: 15px 30px;
    background: #ffffff;
    border: 1px solid #f4f7fb;
    box-shadow: 2px 18px 60px -2px rgba(0, 0, 0, 0.07);
    border-radius: 0px 8px 8px 8px;
    input {
      border: none;
      width: 150px;
      &:focus {
        outline: none;
      }
    }
    select {
      border: none;
      &:focus {
        outline: none;
      }
    }
  }
}
.box-shadow-navbar{
  box-shadow: map-get($box-shadow, primary );
}
// banner swiper slider
.mySwiper {
  position: absolute;
  top: 0;
  right: 0;
  width: 45vw;
  .swiper-slide {
    height: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
// for responsive slider and banner
@media (max-width:992px) {
  .mySwiper{
    position: relative;
    width: 100vw;
    .swiper-wrapper{
      height: 500px;
    }
    .swiper-slide {
      height: 100%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
  }
}
.banner-content{
  margin-top: 150px;
  margin-bottom: 100px;
}
}

.services{
  .service-box{
    padding: 10px;
    .service-box-icon{
      padding: 30px;
      display: inline-block;
      border-radius: 20px;
      svg{
        width: 25px;
        height: 25px;
      }
    }
    .service-box-content{
      margin: 0 auto;
      width:70%;
    }
  }
}

.property-option-box{
  .property-option-image-box{
    height: 250px;
    position: relative;
    .property-option-tag{
      position: absolute;
      left: 15px;
      top: 15px;
      background-color: rgba($color: #000000, $alpha: 0.6);
      color: white;
      padding: 5px 15px;
      border: 1px solid white;
      border-radius: 5px;
    }
  }
}

.featured-properties{
  .featured-properties-navigation{
    @include flex($gap: 10px 50px);
  }
}

.testimonial-company{
 >div{
  width: 40px;
  height: 40px;
 }
}