@use "../abstracts/" as *;

.info-box-primary{
    border-radius: map-get($border-radius, medium );
    overflow: hidden;
    background-color: white;
    box-shadow: map-get($box-shadow, primary );
    color: map-get($text-color, tertiary );
    font-size: map-get($font-size, small );
    .box-image{
        position: relative;
        overflow: hidden;
        height: 290px;
        .box-image-number{
            @include flex();
            position: absolute;
            bottom: 15px;
            left: 15px;
            background-color: rgba($color: #000000, $alpha: .6);
            padding: 5px 15px;
            border-radius: map-get($border-radius, small );
            svg,span{
                display: block;
                color: white;
            }
        }
    }
    .box-content{
        padding: 25px;
        .box-content-title{
            font-size: 1.125rem;
            margin-bottom: 10px;
            transition: $primary-transition;
            &:hover{
                color: $primary-color;
            }
        }
        .box-address{
            @include flex();
            margin-bottom: 8px;
            svg,span{
                display: block;
            }
        }
        .box-properties{
            @include flex();
            gap: 5px 35px;
            margin-bottom: 10px;
            > div{
                @include flex();
            }
        }
        .box-price-time{
            @include flex($justify:space-between);
            margin-bottom: 5px;
            span,svg{
                display: block;
            }
            .box-price{
                font-size: 1.125rem; //18px
                font-weight: 700;
            }
            .box-time{
                @include flex();
            }
        }
    }
}

.testimonial-box{
    border: 1px solid lighten($color: #000000, $amount: 90);
    padding: 30px;
    border-radius: map-get($border-radius, small );
    .rating{
        @include flex();
        margin-bottom: 20px;
        svg{
            width: 15px;
            height: 15px;
            color: orange;
        }
    }
    p{
        margin-bottom: 30px; 
    }
    .testimonial-user{
        @include flex();
        .testimonial-user-profile{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
        }
        .testimonial-user-info{
            .testimonial-user-name{
                display: block;
                font-size: map-get($font-size, large );
            }
            .testimonial-user-position{
                display: block;
                font-size: map-get($font-size, small );
                color: map-get($text-color, tertiary );
            }
        }
    }
}