@use '../abstracts/' as *;

.footer{
    .brandlogo{
        img{
            width: 140px;
            height: 36px;
        }
        margin-bottom: 25px;
    }
    h3{
        margin-bottom: 25px;
    }
    ul{
        li{
            line-height: 2.5;
            a{
                color: map-get($text-color, secondary );
                transition: $primary-transition;
                &:hover{
                    color: $primary-color;
                }
            }
        }
    }
    .get-in-touch{
        li{
            @include flex();
            svg{
                width: 15px;
                height: 15px;
                display: block;
            }
        }
        .footer-social-icons{
            svg{
                color: gray;
                width: 30px;
                height: 30px;
                padding: 6px;
                background-color: $secondary-color;
                transition: $primary-transition;
                &:hover{
                    background-color: $primary-color;
                    color: white;
                }
            }
        }
    }
}