@use "../abstracts/" as *;

.filter-nav-item{
    color: map-get($text-color, tertiary);
    transition: $primary-transition;
    cursor: pointer;
    padding-bottom: 10px;
    position: relative;
    &:after{
      position: absolute;
      left: 0;
      bottom: 0px;
      content: "";
      height: 3px;
      border-radius: 99px;
      background-color: map-get($text-color, active );
      width: 100%;
      opacity: 0;
    }
    &:hover{
      @extend .filter-nav-item-active;
    }
}
.filter-nav-item-active{
    color: map-get($text-color, active );
    &:after{
      opacity: 1;
    }
  }