@use "../abstracts/abstracts" as *;

.podcast{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.podcast-box{
        margin: 10px;
        width: 350px;
        height: 460px;
        color: $clr-black;
}