@import url('https://fonts.googleapis.com/css2?family=Philosopher&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Font-family
$ff-primary: 'Raleway', sans-serif;
$ff-secondary: 'Philosopher', sans-serif;


// Font size
$fs-title: 100px;
$fs-h1: 40px;
$fs-h2: 30px;
$fs-h3: 28px;
$fs-h4: 26px;
$fs-h5: 24px;
$fs-h6: 20px;
$fs-p: 18px;




