@use "../abstracts/abstracts" as *;

.bailboard{
    display: flex;
    justify-content: center;
    align-items: center;
    color: $clr-black;
    background-color: $clr-background;
    width: 100%;
    height: 435px;
}

.bailboard-left{
    flex-basis: 55%;
}

.bailboard-right{
    flex-basis: 50%;
}

.bailboard-heading{
    color: $clr-secondary;
    width: 400px;
}

.bailboard-paragraph{
    width: 490px;
}

