.banner{
    background-image: url("../../images/banner-img.jpg");  
    background-size:cover;
    width: 100%;
    height: 100vh;
}

.banner-content{
    text-align: center;
    width: 60%;
    margin: auto;
}