@use "../abstracts/abstracts" as *;

.footer{
    background-image: url("../../images/footer-bg.png");
    background-color: $clr-secondary;
    background-size:100% 100%;  
}

.footer-box{
    background-color: rgba(27, 68, 39, 0.459);
}

.footer-contain{
    padding-top: 200px;
    padding-left: 150px;
}

.footer-logo{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 150px;
    padding-top: 180px;
}

