@use "../abstracts" as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: $primary-font-family;
    box-sizing: border-box;
    font-size: 1rem;
}
h1,h2,h3{
    font-family: $secondary-font-family;
    font-weight: 700;
    font-style: normal;
    color: #192638;
    line-height: 1.2;
}

h1{
    font-size: 4.375rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.375rem;
}

a{
    text-decoration: none;
    &:hover{
        color: $primary-color;
    }
}
ul{
    list-style: none;
    padding: 0;
    li{
        font-size: 1rem;
    }
}
img{
    max-width: 100%;
    height: auto;
}
select{
    cursor: pointer;
}
.row{
    row-gap: 30px;
}