@use '../abstracts/' as *;

//colors
.primary-color{
    color: $primary-color;
}
.bg-secondary-color{
    background-color: $secondary-color;
}
.bg-gradient-primary{
    background: $gradient-color;
}

//layout
.top-bottom-padding{
    padding: 80px 0;
}
.box-rounded{
    border-radius: 12px;
}

// class for text color
@each $type,$value in $text-color{
    .text-#{$type}-color{
        color: $value;
    }
}

// class for font size
@each $size,$value in $font-size{
    .font-#{$size}-size{
        color: $value;
    }
}

// class for service-box-icon background-color
@each $type,$value in $service-box-icon-color{
    .bg-service-icon-#{$type}-color{
        background-color: $value;
    }
}

// class for border-radius
@each $size,$value in $border-radius{
    .border-radius-#{$size}{
        border-radius: $value;
    }
}

