.bailboard{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #FFF9ED;
    width: 100%;
    height: 435px;
}

.bailboard-left{
    flex-basis: 55%;
}

.bailboard-right{
    flex-basis: 50%;
}

