.banner {
    background-image: url("../../images/Inglis-RiversideAuditorium--20190409-6778.png");  
    display: block; 
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.banner-content{
    text-align: center;
    width: 60%;
    margin: auto;
}