@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './var.css';
@import './helper.css';

body{
    font-family: var(--primary-font-family);
    font-weight: 500;
    color: black;
    letter-spacing: 0.8;
    line-height: 1.5;
}

h2{
    font-size: clamp(2.6rem ,2.5rem + 4vw, 4rem);
}
h3{
    font-size: clamp(1.6rem ,1.5rem + 2.5vw ,2.5rem);
}

ul{
    padding: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
    transition: var(--primary-transition-time);
}
a:hover{
    color: var(--blue-dark);
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

/* header */
header{
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .1);
}

.header-navbar-item{
    border-left: 2px solid black;
    padding: 0 30px;
}
.header-navbar-item:last-child{
    border-right: 2px solid black;
}
.header-navbar-dropdown::after{
    content: '';
    display: block;
    background-image: url('../images/svg/down-arrow.svg');
    width: 16px;
    height: 13px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: var(--primary-transition-time);
}

.header-navbar-dropdown-box{
    visibility: hidden;
    transition: var(--primary-transition-time);
    opacity: 0;
    top: 25px;
    transform: translate(-50% ,25px);
    background-color: white;
}
.header-navbar-dropdown-box li a{
        border-bottom: 1px solid gray;
        display: block;
        width: 172px;
        padding: 15px 0;
        text-align: center;
        word-break: keep-all;
        transition: var(--primary-transition-time);
}
.header-navbar-dropdown-box li a:hover{
    background-color: var(--blue-dark);
    color: white;
}
.header-navbar-dropdown:hover .header-navbar-dropdown-box{
    visibility: visible;
    opacity: 1;
    transform: translate(-50% ,0px);
}

.good-support-logo{
    width: 296px;
    height: 40px;
}
.reception-time{
    font-size: 14px;
    max-width: 148px;
}

.support-number-image{
    width: 55.6px;
    height: 32px;
    object-fit: cover;
}

.nav-mail-btn{
    background-color: var(--orange-medium);
    transition: var(--primary-transition-time);
    box-shadow: 0px 5px 0px var(--orange-dark);
    padding: 15px;
}
.nav-mail-btn:hover{
    background-color: var(--orange-light);
    box-shadow: 0px 0px 0px var(--orange-light);
}

.nav-line-btn{
    background-color: var(--green-medium);
    transition: var(--primary-transition-time);
    box-shadow: 0px 5px 0px var(--green-dark);
    padding: 15px;
}
.nav-line-btn:hover{
    background-color: var(--green-dark);
    box-shadow: 0px 0px 0px var(--green-dark);
}


/* banner */
.banner{
    margin-top: 152px;
    background-color: var(--sky-blue-light);
}

/* banner info */
.banner-info{
    background-color: var(--blue-medium);
}
.banner-info-box{
    color: var(--orange-medium);
    border-radius: 999px;
    padding: 0px 25px;
    background-color: white;
}

/* banner support number */
.banner-support-number{
    background-color: var(--blue-dark);
}
.banner-support-number-title{
    color: var(--yellow-dark);
    position: relative;
    letter-spacing: 1.2px;
}
.banner-support-number-title::after{
    content: "";
    display: block;
    position: absolute;
    right: -15px;
    bottom: 0;
    height: 80%;
    width: 5px;
    background-color: var(--yellow-dark);
    transform: rotate(25deg);
}
.banner-support-number-title::before{
    content: "";
    display: block;
    position: absolute;
    left: -20px;
    bottom: 0;
    height: 80%;
    width: 5px;
    background-color: var(--yellow-dark);
    transform: rotate(-25deg);
}

/* banner mail button */
.banner-mail-btn,.banner-line-btn{
    border-radius: 999px;
    padding: 12px 20px 12px 12px;
    transition: var(--primary-transition-time);
}
.banner-mail-btn:hover{
    background-color: var(--orange-light);
}
.banner-line-btn:hover{
    background-color: var(--green-dark);
}
.just-consult{
    position: relative;
    border: 4px solid white;
}
.just-consult::after{
    content: "";
    position: absolute;
    display: block;
    right: -15px;
    top: 38%;
    border-top: 30px solid transparent;
    border-left: 30px solid white;
    transform: rotateZ(225deg);
}

/* price rate */
.price-rate{
    background-image: url("../images/png/back_orange.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    z-index: -2;
    padding-top: 100px;
}
.price-rate-title{
    width: 800px;
    margin: 0 auto;
    position: relative;
}
.price-rate-title::after{
    content: "";
    position: absolute;
    right: -70px;
    display: block;
    top: 20px;
    background-image: url("../images/svg/badge-deco-right.svg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    width: 150px;
    height: 120%;
    z-index: -1;
}
.price-rate-title::before{
    content: "";
    position: absolute;
    left: -70px;
    display: block;
    top: 20px;
    background-image: url("../images/svg/badge-deco.svg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    width: 150px;
    height: 120%;
    z-index: -1;
}

.price-rate-list{
    width: 700px;
    margin: 0 auto;
    position: relative;
}

.price-rate-list img{
    position: absolute;
    right: 40px;
    bottom: 0px;
    width: 50%;
}

.price-rate-list::after{
    content: "";
    background-image: url('../images/svg/decoPartyRight.svg');
    width: 130px;
    height: 347px;
    position: absolute;
    right: -145px;
    top: 50%;
    transform: translateY(-50%);
}
.price-rate-list::before{
    content: "";
    background-image: url('../images/svg/decoPartyLeft.svg');
    width: 130px;
    height: 347px;
    position: absolute;
    left: -145px;
    top: 50%;
    transform: translateY(-50%);
}
.moji-img{
    transform: translateY(-80px);
    display: inline-block;
}
.moji-img::after{
    content: "";
    background-image: url('../images/svg/decoPartyRight.svg');
    width: 137px;
    height: 156px;
    position: absolute;
    right: -100px;
    top: 120px;
}
.moji-img::before{
    content: "";
    background-image: url('../images/svg/decoPartyLeft.svg');
    width: 137px;
    height: 156px;
    position: absolute;
    left: -100px;
    top: 120px;
}

/* kansai */
.kansai-background{
    background-image: url(../images/svg/support-list-bg.svg)
}

.kansai{
    display: flex;
    width: 60%;
    margin: auto;
}

.kansai-box{
    background-color: var(--orange-medium);
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-top: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contract-banner{
    background-image: url(../images/png/blue-bg.png);
}