@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './var.css';


body{
    font-family: var(--primary-font-family);
}

h2{
    font-size: calc(2.5rem + 3.5vw);
}
h3{
    font-size: calc(1.5rem + 2.5vw);
}

/* fixed font for screen size more than 1200px */
@media (max-width:1200px) {
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 2.5rem;
    }
}

ul{
    padding: 0;
}

a{
    text-decoration: none;
}









