:root{
    
    /* font family */
    --primary-font-family: 'Noto Sans JP', sans-serif;

    /* color*/
    --blue-dark: #173C79;
    --blue-medium: #1145AD;
    --blue-light: #0064DC;
    --blue: #05AFFA;
    --sky-blue-dark: #82C8FF;
    --sky-blue-medium: #A0D2FF;
    --sky-blue-light: #CDF5FF;
    --orange-dark: #FF5B00;
    --orange-medium: #FF8C00;
    --orange-light: #FFA028;
    --yellow:#FFD200;
    --yellow-dark: #FFE452;
    --yellow-medium: #FFF5CD;
    --yellow-light: #FDFADF;
    --green-dark: #009860;
    --green-medium: #00BE78;
    --primary-color: var(--blue-dark);

    /* transition time */
    --primary-transition-time: 0.3s;
    --secondary-transition-time: 0.5s;
} 